<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletsTraining</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>U1ServletInterfaceServlet</servlet-name>
    <servlet-class>nitin.servlets.creation.U1ServletInterfaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>U1ServletInterfaceServlet</servlet-name>
    <url-pattern>/firstMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>U2GenericServletACServlet</servlet-name>
    <servlet-class>nitin.servlets.creation.U2GenericServletACServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>U2GenericServletACServlet</servlet-name>
    <url-pattern>/secondMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>U3HttpServlet</display-name>
    <servlet-name>U3HttpServlet</servlet-name>
    <servlet-class>nitin.servlets.creation.U3HttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>U3HttpServlet</servlet-name>
    <url-pattern>/thirdMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>H1RequestDispatcherForward</servlet-name>
    <servlet-class>nitin1.httpServlet.servletCollaboration.H1RequestDispatcherForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>H1RequestDispatcherForward</servlet-name>
    <url-pattern>/actionInForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectDataServlet</servlet-name>
    <servlet-class>nitin2.httpServlet.jdbcConn.SelectDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDataServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wlecomeServlet</display-name>
    <servlet-name>wlecomeServlet</servlet-name>
    <servlet-class>nitin1.httpServlet.servletCollaboration.FwdWelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wlecomeServlet</servlet-name>
    <url-pattern>/fwdWelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>H2RequestDispatcherInclude</display-name>
    <servlet-name>H2RequestDispatcherInclude</servlet-name>
    <servlet-class>nitin1.httpServlet.servletCollaboration.H2RequestDispatcherInclude</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>H2RequestDispatcherInclude</servlet-name>
    <url-pattern>/actionInFormInc</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>IncWelcomeServlet</servlet-name>
  <servlet-class>nitin1.httpServlet.servletCollaboration.IncWelServlet</servlet-class>
  </servlet>
  
  incWelcomeServlet
</web-app>